spring:
  application:
    name: api
  datasource:
    url: jdbc:mysql://localhost:3306/userdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      platform: mysql
      mode: always
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          lob:
            '[non_contextual_creation]': true
        '[format_sql]': true
    show-sql: true
    open-in-view: false
logging:
  level:
    org:
      hibernate:
        SQL: debug
        type: trace
jwt:
  iss: turing.co.kr
  exp: 24*60*60*1000
  secret: turingturingturingturingturingturingturingturingturingturingturingturing
